<div style="height: 100%; display: flex; justify-content:space-around; align-items: center; ">
  <div style="font-size: 10px; line-height: 10px; margin:0; padding: 0; font-weight: 200;  text-align: justify; background-color: white; ">
    $111.5M
    <div style="font-size: 8px; line-height: 8px; text-align: center;">
      budget
    </div>
  </div>
  <div style="font-size: 28px; line-height: 28px; font-weight: 300; color: #37B400 ">$110.9M</div>
  <div style="font-size: 10px; line-height: 10px; margin:0; padding: 0; font-weight: 200; color: #37B400;">
    $649.7K
    <div style="font-size: 8px; line-height: 8px; text-align: center; vertical-align: top">under</div>
  </div>
</div>
